@model Assign8.Controllers.AlbumWithDetail

@{
    ViewBag.Title = "Details";
}

<h2>About album</h2>

<div>
    <h4>Details of @Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
            <hr />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
            <hr />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrlAlbum)
        </dt>

        <dd>
            <img border="0" alt="W3Schools" src=@Html.DisplayFor(modelItem => modelItem.UrlAlbum) width="100" height="100" />
            <hr />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
            <hr />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Coordinator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coordinator)
            <hr />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            <div class="boxed" style="border: 1px solid #E0E0E0">@Html.Raw(Model.Description)</div>
            <hr />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
