@model Assign8.Controllers.ArtistWithMediaItemStringIds

@{
    ViewBag.Title = "DetailsWithMediaItemInfo";
}

<h2>About Artist</h2>

<div>
    <h4>Details of @Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
            <hr />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthName)
            <hr />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthOrStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthOrStartDate)
            <hr />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
            <hr />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrlArtist)
        </dt>

        <dd>
            <img border="0" alt="W3Schools" src=@Html.DisplayFor(model => model.UrlArtist) width="100" height="100" />
            <hr />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profile)
        </dt>

        <dd>
            <div class="boxed" style="border: 1px solid #E0E0E0">@Html.Raw(Model.Profile)</div>
            <hr />
        </dd>

        <dt>
            Photos
        </dt>

        <dd>
            @foreach (var item in Model.MediaItems.Where(m => m.ContentType.Contains("image/")))
            {
                <div>
                    <span>@item.Caption</span><br>
                    <img src="~/mediaitem/@item.StringId" alt="@item.Caption" title="@item.Caption" width="200">
                </div>
            }
            <hr />
        </dd>

        <dt>
            Track
        </dt>

        <dd>
            @foreach (var item in Model.MediaItems.Where(m => m.ContentType.Contains("audio/")))
            {
                <div>
                    <span>@item.Caption</span><br>
                    <audio src="~/mediaitem/@item.StringId" controls="controls"></audio>
                </div>
            }
            <hr />
        </dd>

        <dt>
            Documents
        </dt>

        <dd>
            @foreach (var item in Model.MediaItems.Where(m => m.ContentType.Contains(".document")))
            {
                <div>
                    <span>@item.Caption</span><br>
                    <a href="~/mediaitem/@item.StringId"><img src="https://petermcintyre.files.wordpress.com/2016/03/icon-word.png?w=595" alt="@item.Caption" title="@item.Caption" width="50"></a>
                </div>
            }
            @foreach (var item in Model.MediaItems.Where(m => m.ContentType.Contains("/pdf")))
            {
                <div>
                    <span>@item.Caption</span><br>
                    <a href="~/mediaitem/@item.StringId"><img src="https://petermcintyre.files.wordpress.com/2016/03/icon-pdf.png?w=595" alt="@item.Caption" title="@item.Caption" width="50"></a>
                </div>
            }
            @foreach (var item in Model.MediaItems.Where(m => m.ContentType.Contains(".sheet")))
            {
                <div>
                    <span>@item.Caption</span><br>
                    <a href="~/mediaitem/@item.StringId"><img src="https://petermcintyre.files.wordpress.com/2016/03/icon-excel.png?w=595" alt="@item.Caption" title="@item.Caption" width="50"></a>
                </div>
            }
            <hr />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
